<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="btt.builder"
         name="BTT Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.tcs.mobility.btt.utilities.constantsmapper.builder.BTTBuilder">
         </run></builder>
   </extension>
   <extension
         id="btt.nature"
         name="BTT Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.tcs.mobility.btt.utilities.constantsmapper.nature.BTTNature">
         </run>
      </runtime>
      <builder
            id="btt.builder">
      </builder>
   </extension>
	<extension
         point="org.eclipse.ui.commands">
      <category
            name="BTT Nature commands"
            id="btt.nature.commands.category">
      </category>
      <command
            name="Add/Remove BTT Nature"
            defaultHandler="com.tcs.mobility.btt.utilities.constantsmapper.commands.AddRemoveBTTNatureHandler"
            categoryId="btt.nature.commands.category"
            id="btt.nature.addRemoveNature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="BTT">
            <command
                  commandId="btt.nature.addRemoveNature"
                  label="Enable BTT Builder"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <and>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                           <not>
                              <test
                                    property="org.eclipse.core.resources.projectNature"
                                    value="btt.nature">
                              </test>
                           </not>
                        </and>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="btt.nature.addRemoveNature"
                  label="Disable BTT Builder"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <and>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="btt.nature">
                           </test>
                        </and>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="btt.marker.stringliteral"
         name="String Literal"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="1"
            markerType="btt.marker.stringliteral"
            name="com.tcs.mobility.btt.utilities.constantsmapper.annotationtype.stringliteral">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="com.tcs.mobility.btt.utilities.constantsmapper.annotationtype.stringliteral"
            colorPreferenceKey="com.tcs.mobility.btt.utilities.constantsmapper.color"
            colorPreferenceValue="192,255,192"
            contributesToHeader="true"
            highlightPreferenceKey="com.tcs.mobility.btt.utilities.constantsmapper.highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="HardCoded Strings"
            overviewRulerPreferenceKey="com.tcs.mobility.btt.utilities.constantsmapper.overview"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="com.tcs.mobility.btt.utilities.constantsmapper.text"
            textPreferenceValue="true"
            textStylePreferenceKey="com.tcs.mobility.btt.utilities.constantsmapper.textdecoration"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="com.tcs.mobility.btt.utilities.constantsmapper.ruler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="com.tcs.mobility.btt.utilities.constantsmapper.marker.StringLiteralResolutionGenerator"
            markerType="btt.marker.stringliteral">
      </markerResolutionGenerator>
   </extension>
</plugin>
